<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <p class="pull-right">Always FREE SHIPPING and RETURNS</p>
    </div>
  </div>
</header>

<div class="page-header">
  <h1>Example page header <small>Subtext for header</small></h1>
</div>

<div class="container-fluid">
	<div id="carousel-example-generic" class="carousel slide bs-docs-carousel-example">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img src="img/Slide1-1.jpg" alt="First slide">
          </div>
          <div class="item">
            <img src="img/Slide2-2.jpg" alt="Second slide">
          </div>
          <div class="item">
            <img src="img/Slide3-2.jpg" alt="Third slide">
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
</div>