<!DOCTYPE html>
<html>
	<head>
  		<title>Introducing the Liberty Grace Collection</title>
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  		<%= csrf_meta_tags %>
  
  		<%= render 'layouts/shim' %>
	</head>
	<body style="background:#000;">
		<center>
		<img src="logos/liberty_inverted.jpg"/>
		<p style="color:#CCC">Coming Soon</p>
		</center>
		<%#= render :partial => 'layouts/partials/global_nav' %>
		
		<%#= render :partial => 'layouts/partials/header' %>
	
	  	<%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
    	
	</body>
</html>
